body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:554px;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:271px;
  height:554px;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:6px;
  background:inherit;
  background-color:rgba(1, 104, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.517647058823529);
}
#u2831 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:245px;
  width:85px;
  height:6px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:rgba(0, 0, 0, 0.517647058823529);
}
#u2831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:345px;
  background:inherit;
  background-color:rgba(190, 206, 192, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2832 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:107px;
  width:240px;
  height:345px;
}
#u2832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:49px;
  background:inherit;
  background-color:rgba(157, 195, 196, 1);
  border:none;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2833 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:67px;
  width:240px;
  height:49px;
}
#u2833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u2834 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:71px;
  width:17px;
  height:10px;
  color:#FFFFFF;
}
#u2834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2835 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:67px;
  width:38px;
  height:19px;
  font-family:'Adobe 宋体 Std L', 'Adobe 宋体 Std';
  font-weight:300;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u2836 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:72px;
  width:11px;
  height:8px;
}
#u2836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2837 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:71px;
  width:24px;
  height:11px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u2837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u2838 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:70px;
  width:19px;
  height:10px;
}
#u2838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:rgba(255, 255, 255, 0.898039215686275);
}
#u2839 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:71px;
  width:24px;
  height:10px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:rgba(255, 255, 255, 0.898039215686275);
}
#u2839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u2840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2840 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:92px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2841 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:441px;
  width:241px;
  height:50px;
}
#u2841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 51, 51, 0.466666666666667);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:441px;
  width:241px;
  height:50px;
}
#u2842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:452px;
  width:21px;
  height:21px;
  color:#FFFFFF;
}
#u2845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:478px;
  width:18px;
  height:9px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:478px;
  width:18px;
  height:9px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:478px;
  width:18px;
  height:9px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:478px;
  width:18px;
  height:9px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u2849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u2850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:452px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:452px;
  width:24px;
  height:20px;
  color:#FFFFFF;
}
#u2851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:452px;
  width:18px;
  height:20px;
  color:#FFFFFF;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:325px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:116px;
  width:240px;
  height:325px;
}
#u2853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:90px;
  width:22px;
  height:19px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:162px;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:126px;
  width:94px;
  height:162px;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:73px;
  width:90px;
  word-wrap:break-word;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:317px;
  width:45px;
  height:48px;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  word-wrap:break-word;
}
#u2857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:317px;
  width:45px;
  height:48px;
}
#u2857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  word-wrap:break-word;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:316px;
  width:45px;
  height:48px;
}
#u2858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  word-wrap:break-word;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:48px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:317px;
  width:45px;
  height:48px;
}
#u2859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:41px;
  word-wrap:break-word;
}
#u2860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:384px;
  width:41px;
  height:32px;
}
#u2860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u2861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:384px;
  width:41px;
  height:32px;
}
#u2861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:384px;
  width:41px;
  height:32px;
}
#u2862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:384px;
  width:41px;
  height:32px;
}
#u2863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:162px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:126px;
  width:112px;
  height:162px;
}
#u2865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:140px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:139px;
  width:50px;
  height:14px;
}
#u2867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:160px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:159px;
  width:50px;
  height:14px;
}
#u2869_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:181px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2871 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:178px;
  width:50px;
  height:14px;
}
#u2871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2872 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:202px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2873 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:200px;
  width:50px;
  height:14px;
}
#u2873_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:223px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B8A0A0;
}
#u2874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:222px;
  width:50px;
  height:14px;
}
#u2875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background-color:rgba(242, 242, 242, 0.827450980392157);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:384px;
  width:41px;
  height:32px;
}
#u2876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:37px;
  word-wrap:break-word;
}
#u2877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#666666;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:249px;
  width:100px;
  height:32px;
  font-size:9px;
  color:#666666;
}
#u2877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
